/* Extra small devices (phones, 600px and down) */
body {
  font-size: 16px;
  }

@media only screen and (max-width: 600px) {
  p {
    color: red;
  }
  div.menu {
  height: auto;
    max-width: 100%;
    font-size: 200%;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    p {
    color: blue;
  }
  div.menu {
  height: auto;
    max-width: 50%;
    font-size: 80%;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    p {
    color: green;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    p {
    color: orange;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    p {
    color: violet;
  }
}
