body {
  font-size: 16px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  p {
    font-size: 10%;
    color: red;
  }
}

/* Small and medium devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 991px) {
    p {
    font-size: 50%;
    color: red;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    p {
    font-size: 500%;
    color: red;
  }
} 
