body {
	background-color: #66c2ff;
	margin-left: 10%;
	margin-right: 10%;
}

/* navigatie bar */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
	
li {
	float: left;
}
	
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}


/* Grid view */
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Hier komt de beschrijving voor de viewporten. In totaal maken we er 4 */

/*Schermen van grote + nieuwe telefoons*/
@media screen and (min-width: 460px) and (max-width: 1200px) {
	#header {
		width : 100%;
	}
	#menu {
		width: 90%;
	}
}

@media screen and (max-width: 1020px) {
	#content {
		width: 95%;
	}
	#sidebar {
		width: 95%;
	}
	#gewoon_menu {
		display: none;
	}

	#dropdown_menu {
		display: block;
	}
}

@media screen and (max-width: 699px) {
	#header {
		de eigenschappen voor schermen tot 699 pixels breed
	}
	#menu {
		de eigenschappen voor schermen tot 699 pixels breed
	}
	#de_rest {
		de eigenschappen voor schermen tot 699 pixels breed
	}
}

@media screen and (max-width: 460px) {
	#header {
		de eigenschappen voor schermen van 300 tot 459 pixels breed
	}
	#menu {
		de eigenschappen voor schermen van 300 tot 459 pixels breed
	}
	#de_rest {
		de eigenschappen voor schermen van 300 tot 459 pixels breed
	}
}


























